
.crystals{
	display: flex;
	justify-content: space-around;
	border:1px solid white;
	align-items: center;

}

.crystal{

	border: 1px solid black;
	height: 200px;
	width: 200px;
}

img{


	width: 20px;
}